.workshop-main{
    margin-top: 50px;
}

.workshop-header{
    color: #E59A4B;
    margin-left: 110px;
    font-family: Manrope;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.workshop-title{
    color: #000;
    text-align: center;
    font-family: Sora;
    font-size: 35px;
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
    
}
.workshop-description{
    color: #000;
    text-align: center;
    font-family: Sora;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: -80px;
    margin-top: 5px;
    margin-left: 100px;
    margin-right: 100px;
}

.workshop-list{
    margin-top: 50px;
    margin-left: 110px;

}
.search-for{
    color: #000;
    font-family: Sora;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.searchbar{
    margin-top: 5px;
}

.workshop-button{
    margin-left: 20px;
}

.workplace-index{
    margin-top: 25px;
    margin-bottom: 50px;
}